/* Importing theme fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

/* Setting header and body fonts to respective font family */
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Core Text */
h1, h2, h3, h4, h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #FCA311;
}

a:hover, a:focus {
    color: #bf7b0b;
}

/* Core Navbar */
.navbar {
    background-color: #010308;
    color: #E0E0E0;
}

.navbar-brand {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FCA311;
}

.nav-item {
    font-weight: 500;
}

/* Responsive images */
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

/* Core Button */
.btn {
    font-family: 'Raleway', sans-serif;
}

/* Themes */
.bg-blue {
    background-color: #14213D;
}

.bg-black {
    background-color: #010308;
}

.text-gold {
    color: #FCA311;
}