/* Importing theme fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

:root {
    --dark-grey: #242423;
    --light-blue: #8D99AE;
    --light: #EDF2F4;
    --light-red: #EF233C;
    --main-red: #D90429;
}

/* Setting header and body fonts to respective font family */
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.trojanZERO {
    position: relative;
    height: 50px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-fluid {
    background-color: #2B2D42;
}

.row {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* Core Text */
h1, h2, h3, h4, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #EF233C;
}

p {
    color: aliceblue;
}

.footer-top {
    background: #2B2D42;
}

a {
    color: var(--light-red);
}

a:hover, a:focus {
    color: var(--main-red);
    text-decoration: none !important;
}

/* Core Navbar */
.navbar {
    overflow: auto;
}

.navbar-brand {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding: 0;
}

.nav-item {
    font-weight: 500;
    padding-bottom: 50;
    padding-left: 50px;
}

/* Responsive images */
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

/* Core Button */
.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.btn-red {
    background-color: var(--main-red);
    color: var(--light);
}

.btn-red:hover, .btn-red:focus {
    background-color: var(--light-red);
}

/* Themes */
.bg-black {
    background-color: var(--dark-grey);
}

.bg-red {
    background-color: var(--main-red);
}

.bg-white {
    background-color: var(--light);
}

.text-black {
    color: var(--dark-grey);
}

.text-red {
    color: var(--main-red);
}

.text-white {
    color: var(--light);
}

