/* Importing theme fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

html {
    position: relative;
    min-height: 100%;
}

footer p {
    font-size: 14px;
}

:root {
    --dark-grey: #242423;
    --light-blue: #8D99AE;
    --light: #EDF2F4;
    --light-red: #EF233C;
    --main-red: #D90429;
    --panel-grey: #8a8d93;
}

/* Setting header and body fonts to respective font family */
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Core Text */
h1, h2, h3, h4, h6 {
    font-family: 'Raleway', sans-serif;
    color: var(--light);
}

a {
    color: var(--light-red);
}

a:hover, a:focus {
    color: var(--main-red);
    text-decoration: none !important;
}

/* Core Navbar */
.navbar {
    background-color: var(--dark-grey);
    color: var(--light);
}

.navbar-brand {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-item {
    font-weight: 500;
}

/* Responsive images */
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

/* Core Button */
.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.btn-red {
    background-color: var(--main-red);
    color: var(--light);
}

.btn-red:hover, .btn-red:focus {
    background-color: var(--light-red);
}

.btn-red-outline {
    background-color: transparent;
    color: var(--light);
    border: 5px solid var(--light);
}

.btn-red-outline:hover, .btn-red-outline:focus {
    background-color: var(--light);
    color: var(--main-red);
}

.btn-purple {
    background-color: #7127AC;
    color: var(--light);
}

.btn-purple:hover, .btn-purple:focus {
    background-color: #864DD9;
}

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.btn.btn-rounded {
    border-radius: 50px;
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}

/* Themes */
.bg-black {
    background-color: var(--dark-grey);
}

.bg-red {
    background-color: var(--main-red);
}

.bg-white {
    background-color: var(--light);
}

.text-black {
    color: var(--dark-grey);
}

.text-red {
    color: var(--main-red);
}

.text-white {
    color: var(--light);
}

.text-grey {
    color: var(--panel-grey);
}

.text-purple {
    color: #864DD9;
}


.dropdown-menu {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    color: #8a8d93;
    font-size: 1rem;
    min-width: 200px;
    background: #2d3035;
    border-radius: 0;
    padding: 0;
    /*margin-top: 21px;*/
    border: 1px solid #393c43;
}

.dropdown-menu a {
    color: inherit;
}

.dropdown-menu a:hover {
    background: var(--main-red);
    color: #fff;
}

.dropdown-toggle {
    background: none;
    outline: none;
    border-radius: 0;
}

.dropdown-toggle span.caret {
    color: #555;
}

.dropdown-toggle::after {
    border: none !important;
    content: '\f107';
    vertical-align: baseline;
    font-family: 'FontAwesome';
    margin-left: .25rem;
    margin-right: 0.5rem;
}

i[class*='icon-'] {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.dropdown-menu a {
    padding: 10px 15px;
    font-size: 0.9rem;
    text-transform: none;
}

.dropdown-menu a:hover {
    color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    font-size: 1rem;
}