html {
    margin: 0;
    padding: 0;
    background-color: #2b2d42;
    background-image: url(../img/bg.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.whole {
    width: 1170px;
    margin: auto;
}

header {
    position: relative;
}

.subhead {
    padding: auto;
}

.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #ef233c;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}

.nav li a:hover {
    background: #edf2f4;
    color: #ef233c;
    transition: 0.7s;
}

.logo img {
    width: 400px;
    float: left;
    height: auto;
}

.text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    background-color: #fff;
    background-color: rgba(17, 32, 63, 0.8);
    border-radius: 10px;
}

.text h1 {
    font-style: italic;
    text-align: center;
    color: #edf2f4;
    text-transform: uppercase;
    font-size: 33px;
    padding: 10px 10px;
}

.text a {
    border: 3px solid #edf2f4;
    padding: 15px 75px;
    text-decoration: none;
    text-transform: uppercase;
    font: size 12px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.text a:hover {
    background: #edf2f4;
    color: #ef233c;
    transition: 1s;
}