textarea, select, input, button { outline: none; }

#searchform {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#latest {
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    height: 500px;
    background-color: #010308;
}

.bordered {
    width: 80%;
    height: 50%;
}

#searchbar {
    height: 70px;
    width: 90%;
    border: none;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Montserrat thin', sans-serif;
}

.bg-search {
    background-color: #14213D;
    color: #FCA311;
}

/*search bar */
.searchbar {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    width: 80%;
    height: 90%;
    padding: 0px 20px;
    float: left;
    font-size: 30px;
    font-family: 'Montserrat thin', sans-serif;
}