body {
    background-image: url('../img/bg.png');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
     margin-bottom: 50px;
}

.form-signin {
    width: 100%;
    max-width: 640px;
    padding: 45px;
    margin: 0 auto;
    border-radius: 25px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}