    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
    
    html {
        box-sizing: border-box;
    }
    
    .page {
        background-color: #2b2d42;
    }
    
    .logo img {
        width: 400px;
        float: center;
        height: auto;
    }
    
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 10 8px;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        background-color: #8d99ae;
        padding: 3%;
        border-radius: 15px;
    }
    
    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #ef233c;
        color: #edf2f4;
    }
    
    .container {
        padding: 2px 16px;
    }
    
    .form-control {
        width: 500px;
    }
    
    .subhead {
        padding: 25px;
    }
    
    .container::after,
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    h1 {
        color: white
    }
    
    .title {
        color: grey;
    }
    
    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }
    
    .button:hover {
        background-color: #555;
        transition: 1s;
    }
    
    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }