body {
  position: relative;
}

section {
  padding: 0 1rem;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.dashtext-1 {
  color: #864DD9 !important;
}

.dashtext-2 {
  color: #CF53F9 !important;
}

.dashtext-3 {
  color: #e95f71 !important;
}

.dashtext-4 {
  color: #7127AC !important;
}

.dashbg-1 {
  background: #864DD9;
}

.dashbg-2 {
  background: #CF53F9;
}

.dashbg-3 {
  background: #e95f71;
}

.dashbg-4 {
  background: #7127AC;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.lh-2 {
  line-height: 2;
}

.list-group-item {
  border-right: 0;
  border-left: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

p {
  line-height: 1.7;
}

button {
  cursor: pointer;
}

i,
span,
strong {
  display: inline-block;
}

input {
  outline: none;
}

pre {
  color: #8a8d93;
}

.dropdown-divider {
  border-top-color: #6a6c70;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-top-sm {
  padding-top: 30px !important;
}

.padding-bottom-sm {
  padding-bottom: 30px !important;
}

.margin-top-sm {
  margin-top: 30px !important;
}

.margin-bottom-sm {
  margin-bottom: 30px !important;
}

.breadcrumb {
  background: none;
  padding: 20px 20px;
  margin-bottom: 0;
  color: #8a8d93;
}

.breadcrumb a {
  color: var(--main-red);
  text-decoration: none !important;
}

.breadcrumb li.active {
  color: #585a5f;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #585a5f;
}

.block {
  padding: 20px;
  background: #2d3035;
  color: #8a8d93;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-bottom: 0;
}

.page-content {
  position: relative;
  background: var(--dark-grey);
  min-height: 100vh;
  width: calc(100% - 280px);
}

.page-content.active {
  width: 100%;
}

.page-header {
  padding: 20px 15px;
  background: #2d3035;
  color: #8a8d93;
  margin-bottom: 30px;
}


.block .title {
  margin-bottom: 20px;
}

.block .title strong:first-child {
  font-size: 1.25rem;
  color: #a5a7ab;
}

.block .title span:first-child {
  font-weight: 300;
  font-size: 0.95rem;
}

/*
* ==========================================================
*     SIDEBAR
* ==========================================================
*/
nav#sidebar {
  width: 280px;
  background: #2d3035;
  color: #6a6c70;
  border-right: 1px solid #34373d;
  /* shrinked navbar */
}

nav#sidebar a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

nav#sidebar a[data-toggle="collapse"]::after {
  content: '\f104';
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 20px;
}

nav#sidebar a[aria-expanded="true"] {
  background: #34373d;
}

nav#sidebar a[aria-expanded="true"]::after {
  content: '\f107';
}

nav#sidebar a i {
  font-size: 1.2em;
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

nav#sidebar .sidebar-header {
  padding: 30px 20px;
}

nav#sidebar .sidebar-header h1,
nav#sidebar .sidebar-header p {
  margin-bottom: 0;
}

nav#sidebar .sidebar-header h1 {
  color: #8a8d93;
}

nav#sidebar .sidebar-header p {
  font-size: 0.9rem;
}

nav#sidebar span.heading {
  font-weight: 700;
  margin-left: 20px;
  color: #494d53;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

nav#sidebar .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  background: none;
  padding: 4px;
  border: 3px solid #282b2f;
}

nav#sidebar ul {
  max-height: none;
}

nav#sidebar li {
  position: relative;
  /* menu item */
  /* submenu item */
  /* menu item active */
  /* submenu item active */
}

nav#sidebar li a {
  padding: 18px 20px;
  display: block;
  font-weight: 400;
}

nav#sidebar li a:hover {
  background: #34373d;
}

nav#sidebar li a:hover i {
  color: var(--main-red);
}

nav#sidebar li a i {
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 20px;
  border-right: 1px solid #454649;
}

nav#sidebar li li a {
  padding: 14px;
  padding-left: 60px;
  background: #22252a;
}

nav#sidebar li li a:hover {
  background: #292c32;
}

nav#sidebar li li a:hover i {
  color: var(--main-red);
}

nav#sidebar li::before {
  content: '';
  width: 2px;
  height: 100%;
  background: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

nav#sidebar li.active::before {
  background: var(--main-red);
}

nav#sidebar li.active > a {
  background: #34373d;
  color: #bfc1c4;
}

nav#sidebar li.active i {
  color: var(--main-red);
}

nav#sidebar li li.active > a {
  background: #292c32;
}

nav#sidebar.shrinked {
  width: 80px;
}

nav#sidebar.shrinked .sidebar-header {
  padding: 10px;
}

nav#sidebar.shrinked .sidebar-header .title {
  display: none;
}

nav#sidebar.shrinked span.heading {
  margin-left: 0;
  display: block;
  text-align: center;
  font-size: 1rem;
}

nav#sidebar.shrinked ul {
  max-height: none;
}

nav#sidebar.shrinked ul a {
  padding: 14px 5px;
  display: block;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  word-break: break-word;
}

nav#sidebar.shrinked ul i {
  font-size: 1.2rem;
  text-align: center !important;
  width: 100%;
  display: block !important;
  border: none !important;
  padding: 0 !important;
}

nav#sidebar.shrinked ul ul a {
  padding-left: 10px;
}

nav#sidebar.shrinked a[data-toggle="collapse"]::after {
  content: '\f107';
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 88%;
  left: 50%;
}

nav#sidebar.shrinked a[aria-expanded="true"]::after {
  content: '\f106';
}

/* Sidebar Media Query ----------------------------------- */
@media (max-width: 1199px) {
  .page-content {
    width: 100%;
  }
  .page-content.active {
    width: calc(100% - 80px);
  }
  nav#sidebar {
    width: 80px;
    margin-left: -80px;
  }
  nav#sidebar .sidebar-header {
    padding: 10px;
  }
  nav#sidebar .sidebar-header .title {
    display: none;
  }
  nav#sidebar span.heading {
    margin-left: 0;
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  nav#sidebar ul {
    max-height: none;
  }
  nav#sidebar ul a {
    padding: 12px 5px;
    display: block;
    font-weight: 400;
    text-align: center;
    font-size: 0.8rem;
  }
  nav#sidebar ul i {
    font-size: 1.2rem;
    text-align: center !important;
    width: 100%;
    display: block !important;
    border: none !important;
    padding: 0 !important;
  }
  nav#sidebar ul ul a {
    padding-left: 10px;
  }
  nav#sidebar.shrinked {
    margin-left: 0;
  }
  nav#sidebar a[data-toggle="collapse"]::after {
    content: '\f107';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 88%;
    left: 50%;
  }
  nav#sidebar a[aria-expanded="true"]::after {
    content: '\f106';
  }
}

/*
* ==========================================================
*     STATISTICS SECTION
* ==========================================================
*/
/* Statistic Block */
.statistic-block {
  padding: 20px;
  background: #2d3035;
  color: #8a8d93;
}

.statistic-block .title {
  margin-bottom: 0;
}

.statistic-block strong,
.statistic-block span {
  display: block;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #8a8d93;
  margin-bottom: 5px;
}

.statistic-block .icon {
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #8a8d93;
}

.statistic-block .number {
  color: inherit;
  font-size: 2.2rem;
}

.progress.progress-template {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: hidden;
  background: #393c43;
  margin-top: 5px;
}

.progress.progress-template.progress-small {
  height: 2px;
}

.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}

.progress-bar.progress-bar-template.progress-bar-small {
  height: 2px;
}

/*
* ==========================================================
*     CARDS SECTION
* ==========================================================
*/
/* Scans Block */
.stats-2-block .stats-2 {
  width: 50%;
  color: #8a8d93;
  position: relative;
  padding-right: 50px;
}

.stats-2-block .stats-2::after {
  content: '';
  background: #40444b;
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  top: 10%;
  right: 30px;
}

.stats-2-block .stats-2:last-of-type {
  padding-right: 0;
}

.stats-2-block .stats-2:last-of-type::after {
  display: none;
}

.stats-2-block span,
.stats-2-block strong {
  color: inherit;
}

.stats-2-block strong {
  font-size: 2rem;
}

.stats-2-block span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 0.9rem;
}

.stats-2-block .progress {
  margin-top: 10px;
  max-width: 150px;
}

.stats-2-block .stats-2-arrow {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  margin-right: 10px;
}

.stats-2-block .stats-2-arrow.low {
  color: #dc3545;
}

.stats-2-block .stats-2-arrow.height {
  color: #28a745;
}

/* Scans Block Media Query ------------------ */
@media (max-width: 991px) {
  .stats-2-block .stats-2::after {
    display: none;
  }
}

/* Requests Block */
.stats-3-block .stats-3 {
  width: 50%;
  color: #8a8d93;
  position: relative;
  padding-right: 50px;
}

.stats-3-block .stats-3::after {
  content: '';
  background: #40444b;
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  top: 10%;
  right: 30px;
}

.stats-3-block .stats-3:last-of-type {
  padding-right: 0;
}

.stats-3-block .stats-3:last-of-type::after {
  display: none;
}

.stats-3-block span,
.stats-3-block strong {
  color: inherit;
}

.stats-3-block strong {
  font-size: 2rem;
}

.stats-3-block strong.strong-sm {
  font-size: 1.4rem;
}

.stats-3-block span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 0.9rem;
  font-weight: 400;
}

.stats-3-block span.span-sm {
  font-size: 0.85rem;
}

.stats-3-block .progress {
  margin-top: 10px;
  background: #393c43;
  max-width: 150px;
}

.stats-3-block .item {
  width: 50%;
}

.stats-3-block .item .line {
  display: block;
  margin: 10px auto;
  width: 30px;
  height: 1px;
  background: #40444b;
}

.stats-3-block small {
  font-weight: 700;
}

/* Requests Block Media Query ------------------ */
@media (max-width: 991px) {
  .stats-3-block .stats-3::after {
    display: none;
  }
}

/*
* ==========================================================
*     USERS SECTION
* ==========================================================
*/
/* user block */
.user-block .avatar {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px auto;
  position: relative;
}

.user-block .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-block .avatar .order {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 0.7rem;
}

.user-block h3 {
  margin-bottom: 0;
}

.user-block span {
  font-weight: 300;
  color: #75787f;
}

.user-block .user-role {
  margin-top: 20px;
  border-radius: 50px;
  padding: 6px 30px;
  background: #26292d;
  display: inline-block;
  font-size: 0.9rem;
}

.user-block .details {
  margin-top: 40px;
}

.user-block .item {
  width: 33.3333%;
  text-align: center;
}

.user-block .item i {
  margin-right: 10px;
  color: #6a6c70;
}

.user-block a.user-title {
  display: block;
  text-decoration: none;
  color: #8a8d93;
  margin-top: 10px;
}

/* Public user Block */
.public-user-block .avatar {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}

.public-user-block .avatar img {
  width: 100%;
  height: 100%;
}

.public-user-block strong {
  font-size: 1.2rem;
}

.public-user-block span {
  font-size: 0.9rem;
  font-weight: 300;
}

.public-user-block .user-role {
  border-radius: 50px;
  padding: 6px 30px;
  background: #26292d;
  display: inline-block;
  font-size: 0.9rem;
}

.public-user-block .item {
  width: 33.3333%;
  text-align: center;
}

.public-user-block .item i {
  margin-right: 10px;
  color: #6a6c70;
}

.public-user-block .item strong {
  font-size: 0.9rem;
}

.public-user-block .order {
  font-size: 0.9rem;
  font-weight: 700;
}

.public-user-block a.name {
  text-decoration: none;
  color: #8a8d93;
}

/* Public users Block Media Query ------------------ */
@media (max-width: 991px) {
  .public-user-block .user-role {
    margin: 20px 0;
  }
  .public-user-block .order {
    display: none !important;
  }
}

/*
* ==========================================================
*     SALES SECTION
* ==========================================================
*/
/* Sale Block */
.stats-with-chart-2 .title {
  margin-bottom: 30px;
}

.stats-with-chart-2 .title strong {
  font-size: 1.25rem;
}

.stats-with-chart-2 .title span {
  font-weight: 300;
  font-size: 0.95rem;
}

.stats-with-chart-2 .chart {
  position: relative;
  margin-bottom: 20px;
}

.stats-with-chart-2 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
}

.stats-with-chart-2 .text strong {
  font-size: 1.5rem;
}

.stats-with-chart-2 .text span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}

/* Sales Difference Block */
.stats-with-chart-1 {
  height: 100%;
}

.stats-with-chart-1 .title {
  margin-bottom: 30px;
}

.stats-with-chart-1 .title strong {
  font-size: 1.25rem;
}

.stats-with-chart-1 .title span {
  font-weight: 300;
  font-size: 0.95rem;
}

.stats-with-chart-1 .text strong {
  font-size: 1.8rem !important;
  font-weight: 300;
}

/* Sales Difference Block Media Query ------------------ */
@media (max-width: 991px) {
  .stats-with-chart-1 {
    height: auto;
  }
}

/*
* ==========================================================
*     FEEDS SECTION
* ==========================================================
*/
/* Checklist Media Query */
.checklist-block .title {
  margin-bottom: 20px;
}

.checklist-block .title strong {
  font-size: 1.25rem;
}

.checklist-block .title span {
  font-weight: 300;
  font-size: 0.95rem;
}

.checklist-block label {
  font-size: 0.9rem;
  color: #8a8d93;
  line-height: 1.8em;
  margin-bottom: 0;
}

.checklist-block .item {
  padding: 26px;
}

.checklist-block .item:nth-of-type(even) {
  background: #282b2f;
}

.checklist-block input:checked + label {
  text-decoration: line-through;
}

/* Messages Media Query */
.messages-block a.message {
  color: #8a8d93;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #282b2f;
}

.messages-block a.message:hover {
  background: #282b2f;
}

.messages-block a.message:last-of-type {
  border-bottom: none;
}

.messages-block .title {
  margin-bottom: 30px;
}

.messages-block .title strong {
  font-size: 1.25rem;
}

.messages-block .title span {
  font-weight: 300;
  font-size: 0.95rem;
}

.messages-block .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.messages-block .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.messages-block .profile .status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 2px;
  right: 2px;
}

.messages-block .profile .status.online {
  background: #28a745;
}

.messages-block .profile .status.away {
  background: #ffc107;
}

.messages-block .profile .status.busy {
  background: #dc3545;
}

.messages-block .profile .status.offline {
  background: #999;
}

.messages-block .content strong {
  font-size: 1.1rem;
}

.messages-block .content span {
  font-weight: 300;
}

.messages-block .content .date {
  color: #70737a;
}

/* Modal */
.modal-open .modal {
  z-index: 9999;
}

.modal-open .modal .modal-content {
  border-radius: 0;
  background: #2d3035;
}

.modal-open .modal .modal-header,
.modal-open .modal .modal-footer {
  border-color: #3d4148;
}

.modal-open .modal .close {
  color: #8a8d93;
  opacity: 1;
}

.modal-open .modal .modal-title {
  font-size: 1.25rem;
}

/*
* ==========================================================
*       UTILITIES
* ==========================================================
*/
.bg-cover {
  background-size: cover;
}

.bg-gray-dark {
  background: var(--dark-grey);
}

.bg-gray-darker {
  background: #22252a;
}

/*
* ==========================================================
*     FORMS 
* ==========================================================
*/
.form-control {
  height: calc(2.4rem + 2px);
  border: 1px solid #444951;
  background: transparent;
  border-radius: 0;
  color: #979a9f;
  padding: 0.45rem 0.75rem;
}

.form-control::-moz-placeholder {
  font-size: 0.9rem;
  font-family: "Muli", sans-serif;
  color: #787b82;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-family: "Muli", sans-serif;
  color: #787b82;
}

.form-control:-ms-input-placeholder {
  font-size: 0.9rem;
  font-family: "Muli", sans-serif;
  color: #787b82;
}

.form-control:focus {
  color: #979a9f;
  background-color: transparent;
  border-color: var(--main-red);
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 63, 63, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 63, 63, 0.25);
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background: #444951;
}

.form-control-sm {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-lg {
  height: calc(2.875rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.form-control-label {
  color: #777;
}

button,
input[type='submit'] {
  cursor: pointer;
  font-family: inherit;
  font-weight: 300 !important;
}

.custom-select {
  height: calc(2.4rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #8a8d93;
  vertical-align: middle;
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23495057' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #444951;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: var(--main-red);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: transparent;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #868e96;
  background-color: #e9ecef;
}

.custom-select::-ms-expand {
  opacity: 0;
}

.custom-select-sm {
  height: calc(1.8125rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}

.custom-select-lg {
  height: calc(2.875rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 125%;
}

.input-group-text {
  background: #363a40;
  color: #8a8d93;
  font-weight: 300;
  border-radius: 0;
  border: 1px solid #444951;
}

.input-group-text .checkbox-template,
.input-group-text .radio-template {
  -webkit-transform: none;
  transform: none;
}

.input-group .dropdown-menu {
  padding: 15px;
  color: #777;
  border-radius: 0;
  margin-top: 5px;
}

.input-group .dropdown-menu a {
  padding: 5px 0;
  color: inherit;
  text-decoration: none;
  display: block;
}

.input-group .dropdown-menu a:hover {
  color: var(--main-red);
  background: none !important;
}

form label {
  font-size: .9rem;
  color: #8a8d93;
}

.checkbox-template,
.radio-template {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.checkbox-template + label,
.radio-template + label {
  margin-left: 15px;
}

.checkbox-template::before,
.radio-template::before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background: #8a8d93;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.checkbox-template::after,
.radio-template::after {
  content: '\f00c';
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  display: block;
  font-family: 'FontAwesome';
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 0.6rem;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

.checkbox-template:checked::before,
.radio-template:checked::before {
  background: var(--main-red);
}

.checkbox-template:checked::after,
.radio-template:checked::after {
  opacity: 1;
}

.radio-template::before {
  border-radius: 50%;
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.radio-template::after {
  width: 6px;
  height: 6px;
  line-height: 6px;
  text-align: center;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  content: '';
}

.radio-template:checked::after {
  background: #fff;
}

input.input-material {
  width: 100%;
  border: none;
  border-bottom: 1px solid #444951;
  padding: 10px 0;
  background: none;
  color: #8a8d93;
}

input.input-material.is-invalid {
  border-color: #bb414d !important;
}

input.input-material:focus {
  border-color: var(--main-red);
}

input.input-material ~ label {
  color: #aaa;
  position: absolute;
  top: 14px;
  left: 0;
  cursor: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 300;
}

input.input-material ~ label.active {
  font-size: 0.85rem;
  top: -10px;
  color: var(--main-red);
}

input.input-material ~ label.is-invalid ~ label {
  color: #bb414d;
}

.form-group-material {
  position: relative;
  margin-bottom: 30px;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus,
.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-page .block {
  margin-bottom: 30px;
}

/*
* ==========================================================
*     CHARTS
* ==========================================================
*/
.gauge-container {
  position: relative;
}

.gauge-canvas {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.gauge-label {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 50px;
  font-size: 1.2rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sparklines {
  display: inline-block;
  margin-left: 20px;
}

/*
* ==========================================================
*     TABLES
* ==========================================================
*/
.table {
  margin-bottom: 0;
  color: #8a8d93;
}

.table td,
.table th {
  border-color: #343a40;
}

.table thead th {
  border: none;
}

.table-striped tbody tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #282b2f;
}

.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #26292d;
}

.table-bordered td,
.table-bordered th {
  border-color: #343a40;
}

@media (max-width: 991px) {
  section.tables {
    padding: 0;
  }
}

/* ========================================= 
   THEMING OF BOOTSTRAP COMPONENTS           
   ========================================= */

hr {
  border-top: 1px solid #6a6c70;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  border-left: 5px solid var(--main-red);
}

.blockquote-footer {
  color: #868e96;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

/*
 * 4. PAGINATION
 */
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--main-red);
  border-color: var(--main-red);
}

.page-item.disabled .page-link {
  color: #868e96;
  background-color: #22252a;
  border-color: #8a8d93;
}

.page-link {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8d93;
  background-color: transparent;
  border: 1px solid #8a8d93;
}

.page-link:hover {
  z-index: 2;
  color: #fff;
  background-color: #8a8d93;
  border-color: #8a8d93;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.border-primary {
  border-color: var(--main-red) !important;
}

.border-secondary {
  border-color: #868e96 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #bb414d !important;
}

.border-light {
  border-color: #e9ecef !important;
}

.border-dark {
  border-color: #212529 !important;
}
/*
* 6.CODE
*/
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: var(--main-red);
  background-color: #22252a;
  border-radius: 0.25rem;
}

a > code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}

pre code {
  background: none;
}

/*
* 8. CARD
*/
.card {
  background-color: #2d3035;
  border: 1px solid #34373d;
  border-radius: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #34373d;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}

.card-header-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid #34373d;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  padding: 1.25rem;
}

.card-img-overlay-opacity {
  background: rgba(0, 0, 0, 0.2);
}

.card-img {
  border-radius: 0;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.card .list-group-item {
  background: #2d3035;
  border-color: #34373d;
}
